# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Server/node_modules
Client/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
Server/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
Client/logs
Client/*.log
Client/npm-debug.log*
Client/yarn-debug.log*
Client/yarn-error.log*
Client/pnpm-debug.log*
Client/lerna-debug.log*

Client/dist
Client/dist-ssr
Client/node_modules
Client/*.local

# Editor directories and files
Client/.vscode/*
Client/!.vscode/extensions.json
Client/.idea
Client/.DS_Store
Client/*.suo
Client/*.ntvs*
Client/*.njsproj
Client/*.sln
Client/*.sw?

